In [1]:
import pandas as pd

In [34]:
missing = pd.read_csv("./data/MissingSchools.csv")
missing['School ID'] = missing['School ID'].astype(int)
missing = missing[['School ID']]
missing.columns = ['school_id']

addr = pd.read_csv("./data/SchoolAddresses.csv")
addr = addr[['Region', 'Division', 'District', 'School_id', 'School_name', 'street_address']]
addr.columns = addr.columns.str.lower()
addr.head()

comb = pd.merge(missing, addr, how = 'left', on = 'school_id')
comb.head()

,school_id,region,division,district,school_name,street_address
0,151009,Region I,La Union,Bauang North,EULOGIO CLARENCE M. DE GUZMAN Jr. ELEMENTARY S...,Pagdalagan Sur
1,100185,Region I,Ilocos Norte,Paoay,Nagbacalan ES,Nagbacalan
2,101299,Region I,"Pangasinan I, Lingayen",Bayambang II,Paragos ES,"Brgy. Paragos, Bayambang, Pangasinan"
3,101146,Region I,"Pangasinan I, Lingayen",Agno,San Juan Elementary School,"San Juan Agno, Pangasinan"
4,104056,Region II,Nueva Vizcaya,Dupax del Sur,Abaca ES,Abaca

In [35]:
comb.to_csv("./data/MissingSchoolInfo.csv")